*{
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

#mainDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    justify-content: center;
}
#mainDiv > div {
    border: solid .2em black;
    border-radius: 5px;
    width: 20em;
    height: 22em;
    position: relative;
    background-color: rgb(211, 211, 211);
}
img{
    max-width: 98%;
    max-height: 70%;
}


.continent{
    position: absolute;
    top: 0;
    right: 0;
}